# Python virtual environments
venv/
.venv/

# Python cache files
*.py[cod]
__pycache__/

# Node modules
node_modules/

# Build outputs
dist/
build/

# Logs
*.log

# Environment Variables
.env
/backend/uploads
backend/app/__pycache__/main.cpython-312.pyc
